{% extends "_layouts/_base" %}
{% block content %}
	<div class="">
		{% block itemContent %}
			{# 
			{% if entry.matrix %}
					{% include "_matrix" with { matrix : entry.matrix } %}
			{% endif %}
			#}
		{% endblock %}
	</div>
{% endblock %}
