
/* Helpers - these produce no output */
@import 'helpers/*';

/* These do */
@import 'generic/*';
@import 'objects/*';
@import 'components/*';

:root{
  --color-fg:   black;
  --color-bg:   pink;

  --skip-fg:    var(--color-fg);
  --skip-bg:    var(--color-bg);

  --text-body:  serif;
  --text-alt:   sans-serif;

  --wrapper-max-width: 1280px;
}

html{
	font-size: responsive;

	min-font-size: 14px;
	max-font-size: 22px;

	lower-font-range: 420px;
	upper-font-range: 1280px;

	background-color: var(--color-bg);
}

a { color: currentColor; }


