<main class="o-main" id="content" role="main">
  <div id="barba-wrapper">
    <div data-namespace="{{entry.type ?? 'page'}}" class="barba-container">
      {% block main %}{% endblock %}
    </div>
  </div>
</main>
